# Aiven
DB_URL=jdbc:mysql://<HOST>:<PORT>/pc_store?sslMode=REQUIRED
DB_USERNAME=avnadmin
DB_PASSWORD=<PASSWORD>

# Local Docker (nếu dùng phương án dự phòng)
# DB_URL=jdbc:mysql://localhost:3306/pc_store?sslMode=DISABLED&allowPublicKeyRetrieval=true
# DB_USERNAME=root
# DB_PASSWORD=root

JWT_SECRET=